.audio-controller {
  position: relative;
  margin: 50px 0;
  width: 100%;
  max-width: 320px;
  border: 1px solid #999;
  padding: 15px 10px;
  background-color: #555;
  color: #fff;
}
 
.audio-controller .controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
 
.audio-controller .controls .row {
  display: flex;
  gap: 10px;
}
 
.audio-controller .controls button {
  border: none;
  padding: .25rem .5rem;
  cursor: pointer;
  height: 32px;
  font-size: 12px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
}
 
.audio-controller .controls button.toggle {
  width: 12rem;
  background-color: #3976d8;
}
 
.audio-controller .controls button.toggle.playing {
  width: 12rem;
  background-color: #e06602;
}
 
.audio-controller .controls button.mute {
  width: 7rem;
  background-color: #aa5353;
}
 
.audio-controller .controls button.mute.active {
  background-color: #f31e1e;
  font-size: 11px;
}
 
.audio-controller .controls .loop {
  width: 9rem;
  background-color: #1f6438;
}
 
.audio-controller .controls .loop.active {
  background-color: #739c32;
  color: #fff;
  font-size: 11px;
}
 
.audio-controller .controls .time {
  font-size: 12px;
  line-height: 36px;
}
 
/* レンジスライダー */
.audio-controller input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
  margin-top: 14px;
}
 
/* スライダーのツマミ部分（webkit） */
.audio-controller input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #3976d8;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
}
 
/* スライダーのツマミ部分（Firefox） */
.audio-controller input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #3976d8;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
}
 
/* スライダーのツマミ部分のホバー、アクティブ、フォーカス（Webkit 用） */
audio-controller input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 8px rgba(248, 200, 245, 0.4)
}
.audio-controller input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 5px rgba(248, 200, 245, .5)
}
.audio-controller input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 5px rgba(248, 200, 245, .5)
}
/* スライダーのツマミ部分のホバー、アクティブ、フォーカス（Firfox 用） */
.audio-controller input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 8px rgba(248, 200, 245, .4)
}
.audio-controller input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 5px rgba(248, 200, 245, .5)
}
.audio-controller input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 5px rgba(248, 200, 245, .5)
}
