a{
  display       : inline-block;
  border-radius : 12%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
a:hover{
  box-shadow    : none;        /* カーソル時の影消去 */
}
#blinkS1 {
  animation: blinkAnimeS1 1s infinite alternate;
}
@keyframes blinkAnimeS1{
 0%  { color : white  }
 100%{ color : 0000FF  }
}
.phase2{
  background-color:#000;
}
