a{
  color: #0000FF;
  text-decoration: none;
}
blinkS1 {
  animation: blinkAnimeS1 2s infinite alternate;
}
@keyframes blinkAnimeS1{
 0%  { color : yellow }  /* 33%ごとに色を入れ替え */
 33% { color : blue   }
 66% { color : green  }
 100%{ color : red    }
}
