a{
  color: #0000FF;
  text-decoration: none;
}
#blinkS1 {
  animation: blinkAnimeS1 1s infinite alternate;
}
@keyframes blinkAnimeS1{
 0%  { color : white  }
 100%{ color : 0000FF  }
}
.search-form input[type="text"] {
    width: 250px;
    padding: 5px;
  }

  .search-form button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

  .search-form button:hover {
    background-color: darkblue;
  }
